
#title {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	width:18em;
	margin-left:auto;
	margin-right:auto;
}

body {
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin-left:1em;
}


a {
	text-decoration:none;
	font-size: .95em;
}

a:visited {
	color: #C0C0C0;
	text-decoration:none;
}

a:link {
	color: #708090;
	text-decoration:none;
}

a:active {
	
	text-decoration:none;
}

a:hover {
	color: #4682B4;
	text-decoration:none;
}

.small {
	font-size: .8em;
}