.menuitem {
	font-size: 13px; 
	height: 30px;
	width: 150px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	
}  


#title {
	font-family: "Times New Roman", serif;
	text-align: center;
	font-size: 10px;
}

body {
	font-family: 'Lucida Grande',Arial,sans-serif;
	font-size: .95em;
}


a {
	text-decoration:none;
	font-size: .95em;
}

a:visited {
	color: #C0C0C0;
	text-decoration:none;
}

a:link {
	color: #708090;
	text-decoration:none;
}

a:active {
	
	text-decoration:none;
}

a:hover {
	color: #4682B4;
	text-decoration:none;
}

.small {
	font-size: .8em;
}