.centered {
	margin-top: 10%;
}

.prettybox {
	height: 400px;
	width: 400px;
	background-color: #CAE1FF;
	border: solid #BFCC8D 5px;
}

.links {
	font-size:10em;
	margin-left: auto;
	margin-right: auto;
	width: 700px ;
	vertical-align: middle
	border-top: 50px;
}

.innerlink {
}

