/* General styles */
body {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
						/* The min-width property does not work in old versions of Internet Explorer */
	
}

img {
	margin:10px 0 5px;
}
/* Header styles */
#header {
    clear:both;
    float:left;
    width:100%;
}

#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}

/* column container */
.colmask {
    position:relative;		/* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
/* common column settings */

.col1 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* Full page settings */
.fullpage {
	background:#fff;		/* page background colour */
}
.fullpage .col1 {
	width:94%;				/* page width minus left and right padding */
	/*left:2%;				/* page left padding */
	padding: 0 3% 0 3%;
}
/* Footer styles */
#footer {
    clear:both;
    float:left;
    width:100%;
	border-top:1px solid #000;
}
#footer p {
    padding:10px;
    margin:0;
}
    