.year {
	font-weight: bold;
	margin-bottom: 20px;
}

.title {
	font-family: "Andele Mono", courier, monospace;

	
	font-size: .95em;
}

.programlist {

}

.program {
		color: #4169E1;
	
}

.programdesc {
	}

.lang {
	font-size: .95em;
	color: black;
}

.footer {
	text-align: center;
	font-size: .85em;
	margin-top: 45px;
}