
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-left:1.2em;
}


.fullpage {
	background-color:#ffffff;
}
#header {
	background-color:#ffffff;
}
#footer {
	background-color:#ffffff;
}

.noprint {
	display:none;
}

a {
	text-decoration:none;
	font-size: 1em;
}

a:visited {
	color: #000000;
	text-decoration:none;
}

a:link {
	color: #000000;
	text-decoration:none;
}

a:active {	
	text-decoration:none;
}