body {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-left:1.2em;
}


.fullpage {
	background-color:#000000;
}
#header {
	background-color:#000000;
}

.noprint {
	display:none;
}

.roledesc {
	display:block;
}


a {
	text-decoration:none;
	font-size: 1em;
}

a:visited {
	color: #FFFFFF;
	text-decoration:none;
}

a:link {
	color: #FFFFFF;
	text-decoration:none;
}

a:active {
	
	text-decoration:none;
}
