#contact {
	font-size: .8em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
}

h2 {
	
	margin-bottom: 0.5em;
	padding: 0px;
	
	width: 940px;
	border-top:medium outset #000000;
	border-bottom:thin solid #C0C0C0;
	font-variant: small-caps;
}

h3 {
	margin: 0px 0px 0.25em 0px;
	
}

h4 {
	margin: 0px 0px 0px 0px;
	font-style: oblique; 
	
	font-weight: normal;
	
}

.when {
	color: #838B8B;
	float:right;
}

.location {
	color: #838B8B;
	float:right;
	
}

.jobdetails {
	margin: 0px 0px 0px 0px;
	
}

img {
	border: none;
}

.role {
	
}

p {
	margin-top: 0em;
}

.jobitem {
	
}

.item {
	margin: 0px 0px 0px 0px;
}


ul {
 
 padding: 0;
}
ul li {
 
} 