/*
TODO:
2. cut out white space on print at least
*/

#header h1{
    padding:.4em 15px 0 15px;
    margin:0;
}


.item h2 {
	margin-bottom: 0.5em;
	padding: 0px;
	border-top: medium outset #000000;
	border-bottom: thin solid #C0C0C0;
	font-variant: small-caps;
	font-size: 1.65em;
}

.item h3 {
	margin: 0.5em 0px 0.65em 0px;
	font-size: 1.365em;
}

.jobitem h4 {
	margin: 0.5em 0px .7em 0px;
	font-style: oblique;
	font-weight: normal;
}

.item p {
	margin: 0 0 0.5em 0;
	
}

img {
	border: none;
}

#contact {
	font-size: .8em;
}

#title .subtitle {
	font-size:1.2em;
}

span.title_info {
	margin: 0 0.5em 0 0.5em;
}

.item ul,.jobitem ul {
	margin: 0px;
	padding: 0px;
}

.item,.jobitem {
	margin: 0px 0px 1.5em 0px;
}

.job_meta {
	float: right;
	font-size: .8em;
}

.jobdetails {
	
}

.roles {
	
}

.jobitem {
	
}

.roledesc {
	margin: 0 0 10px 0;
}

span.email {
	unicode-bidi:bidi-override; direction: rtl;  
{
